@use './ProductDetail/_stylesAngie';

@import './Related_Items/styles_jason.scss';
@import './Reviews_Ratings/styles_justin.scss';

$font-stack:    Helvetica, sans-serif;
$primary-color: red;

h1 {
  color: blue;
}

body {
  font: 100% $font-stack;
  color: black;
  margin: 0px;
}

.mainPg{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

//test 1 1 1 global styling, avoid inline styling - dont add styles inside react component
