@use './ProductDetail/_stylesAngie';

@import './Related_Items/styles_jason.scss';
@import './Reviews_Ratings/styles_justin.scss';

$font-stack:'Open Sans', sans-serif;
$primary-color: red;

app {
  display: flex;
  flex-direction: column;

}
h1 {
  color: blue;
}

body {
  font: 100% $font-stack;
  color: black;
  margin: 0px;
}

.storeBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
}

.logoNannouncements {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bannerText {
  display: flex;
  flex-direction: column;
}

.caticon .catwalkLogo {
  width: 200px;
  height: 102px;
  object-fit: cover;
}

#menuBreak {
  background-color: black;
  color:white;
  text-align: center;
  width: 100%;
}


//test 1 1 1 global styling, avoid inline styling - dont add styles inside react component
