#related-items,
#my-outfit {
  display: flex;
}

.carousel-control {
  height: 230px;
  line-height: 230px;
  cursor: pointer;
  font-size: 50px;
  color: darkgray;
}

.carousel-control:hover {
  color: black;
}

.card {
  width: 230px;
  height: 320px;
  border-color: darkgray;
  border-width: 2px;
  border-style: solid;
  margin:15px;
  position:relative;
  .star-ratings-css {
    margin-left: 5px;
  }
}

.outfit-item {
  background-color: lightgray;
  text-align: center;
}

.card:hover {
  border-color: black;
}

.plus {
  font-size: 150px;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.plus:hover {
  color:yellow;
}

.thumbnail {
  object-fit: cover;
  width:230px;
  height:230px;
  background-color: lightgray;
}

.category,
.price {
  text-transform: uppercase;
  font-size: 12px;
  color: gray;
  line-height: 0.2;
  margin:8px;
}

.name {
  font-size: 16px;
  font-weight: bold;
  margin:8px;
}

.name:hover {
  text-decoration: underline;
  font-weight:bolder;
  cursor: pointer;
}

.open-modal:hover {
  color:yellow;
  -webkit-text-fill-color: yellow; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: yellow;
}

.open-modal {
  margin:0px;
  color: white;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  font-size: 25px;
  background-color: transparent;
  border: 0;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 100;
}

.close-modal {
  font-size:20px;
  position: absolute;
  top:0px;
  right:15px;
  cursor: pointer;
}

.modal {
  position: fixed;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 500;
}

.content {
  margin: 15% auto;
  background-color: white;
  border-radius: 0.25rem;
  width: 50vw;
  padding: 2rem;
  position: relative;
}

.comparison-table {
  width:100%;
}

th {
  padding:30px 0px 10px 0px;
  width:33%;
  text-align: left;
}

tr {
  padding: 5px 0px 5px 0px;
}
