h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:first;
  padding-bottom: 0.1cm;
  padding-top: 0cm;
  padding-left: 0.5cm;
  padding-right: 0.5cm;
  border-radius:0.25cm;
}
#messageFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:first;
  padding-bottom: 0.1cm;
  padding-top: 0cm;
  padding-left: 0.5cm;
  padding-right: 0.5cm;
  border-radius:0.25cm;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // align-items:center;
  height: auto;
  width: 4.5in;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius:0.25cm;
  // justify-items: center;
}


.star-name-date {
  display: flex;
  flex-direction: row;
  // flex: 0 0 ;

  justify-content: space-between;
  // align-self:bottom;
  padding-bottom: 5px;
}

.nameDate {
  align-items:right;
  justify-content: right;
  justify-self: right;
  justify-items:right;
  align-self:right;
  padding-right: 3px;
}

.star-ratings-css {
  color:lightgray;
  font-size: 15px;
  height: 15px;
  width: 75px;
  margin: 0px ;
  position: relative;
  padding: 0;
  text-shadow: lightgray;
  text-align: left;
  align-items: left;
  padding-left: 3px;

  &-top {
    color: darkslategray;
    padding: 0;
    align-self:left;
    position: absolute;
    z-index: 1;
    // display: block;

    overflow: hidden;
    align-items: left;

  }
  &-bottom {
    padding: 0;
    // display: block;
    z-index: 0;
    align-self:left;
    align-items: left;
  }
}

.summary {
  align-self:center;
  font-weight:bold;
}

.body {
  align-self:center;
  padding-bottom: 10px;
}



.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.modal-main {
  display:flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  position:fixed;
  background: white;
  width: 50%;
  height: auto;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  padding-bottom: 10px;
  border: 2px solid black;
}

.display-block {
  display:block;
}

.display-none {
  display: none;
}

.button-addRev {
  display: flex;
  align-items: center;
  justify-items: center;
}

.recommend-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;

}

.radio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reviewsum-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;

}

.textbox {
  height: 1cm;
  width: 6cm;
}

.fullbox {
  height: 2cm;
  width: 6cm;
}

.metaRating {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-items:left;
  height: 5.5in;
  width: 3in;
  margin-top: 0;
  padding-bottom: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius:0.25cm;
  margin-left: 5px
}

.side {
  float: left;
  width: 15%;
  margin-top:2px;
  margin-right: 2px;
}

.middle {
  margin-top:2px;
  float: left;
  width: 83%;
  color: orange;
  border: black
}

 .right {
  text-align: center;
  visibility:hidden;
 }

.starRow {
  margin-left:5px;
}

.bar-container {
  width: 90%;
  background-color: lightgray;
  text-align: center;
  color: black;
  margin-bottom: -7px;
}

.bar-5 { height: 18px; background-color: darkslategray}
.bar-4 { height: 18px; background-color: darkslategray}
.bar-2 { height: 18px; background-color: darkslategray}
.bar-3 { height: 18px; background-color: darkslategray}
.bar-1 { height: 18px; background-color: darkslategray}

.sliderLabels {

  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  width: 90%;
  line-height: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -5px;
}

.slider {
  width: 90%;

}

.slideLabel {
  margin-top: 10px;
  font-size: 14px;
  font-family: Helvetica;
  font-weight: bold;
}

.slideContainer {
  margin-top: 5px;
  margin-left: 5px;

}

.averageRating  {
  align-self:left;
  font-size: 20px;
  margin-bottom: -3px;
  padding-top: 10px;
  margin-left: 5px
}

.percentRecommend  {
  margin-top:5px;
  align-self:left;
  margin-left: 5px
}

.numberReviews {
  font-weight: bold;
  margin-top: 10px;
  margin-left: 5px;
}


.ratingsReviewsContainer {
  display:flex;
  flex-direction: row;
}


.button-showMore  {
  margin-right: 10px;
}

select {
  margin-left: 5px;
}

.buttonContainer {
  display:flex;
  flex-direction: row;
}


input[type='range'] {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: lightgrey;
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  background: darkslategray;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;// margin-bottom: -15px
}