h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:first;
  padding-bottom: 0.1cm;
  padding-top: 0cm;
  padding-left: 0.5cm;
  padding-right: 0.5cm;
  border-radius:0.25cm;
}
#messageFeed {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content:first;
  padding-bottom: 0.1cm;
  padding-top: 0cm;
  padding-left: 0cm;
  padding-right: 0.5cm;
  border-radius:0.25cm;
  color: darkslategray;
  // overflow-y: scroll;
  height: 5in;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // align-items:center;
  height: auto;
  width: 4.5in;
  margin-top: 7px;
  margin-bottom: 5px;
  background-color: white;
  // border: 2px solid black;
  // border-radius:0.25cm;
  border-bottom: 1px solid darkslategray;


  // justify-items: center;
}


.star-name-date {
  display: flex;
  flex-direction: row;
  // flex: 0 0 ;

  justify-content: space-between;
  // align-self:bottom;
  padding-bottom: 5px;
}

.nameDate {
  align-items:right;
  justify-content: right;
  justify-self: right;
  justify-items:right;
  align-self:right;
  padding-right: 3px;
}

.star-ratings-css {
  color:lightgray;
  font-size: 15px;
  height: 15px;
  width: 75px;
  margin: 0px ;
  position: relative;
  padding: 0;
  text-shadow: lightgray;
  text-align: left;
  align-items: left;
  padding-left: 0px;

  &-top {
    color: darkslategray;
    padding: 0;
    align-self:left;
    position: absolute;
    z-index: 1;
    // display: block;

    overflow: hidden;
    align-items: left;

  }
  &-bottom {
    padding: 0;
    // display: block;
    z-index: 0;
    align-self:left;
    align-items: left;
  }
}

.messageSummary {
  align-self:left;
  font-weight:bold;
}

.body {
  align-self:left;
  padding-bottom: 10px;
}



.modal {
  position: fixed;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal-main {
  display:flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  position:fixed;
  background: white;
  width: 40%;
  height: 60%;
  top:52%;
  left:50%;
  transform: translate(-50%,-50%);
  padding-bottom: 10px;
  border: 2px solid black;
  overflow-y: scroll
}

.display-block {
  display:block;
}

.display-none {
  display: none;
}

.button-addRev {
  display: flex;
  align-items: center;
  justify-items: center;
}

.recommend-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;

}

.radio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reviewsum-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;

}

.textbox {
  height: 1cm;
  width: 6cm;
}

.fullbox {
  height: 2cm;
  width: 6cm;
}
.nickName {
  width: 5.95cm;
  margin-left: -2px;
  margin-bottom: 2px;
}

.privacy {
  margin-top: 0px;
  // height:10px;
  font-size:6pt;
}

.nameContainer {
  width:6cm;
}

.email{
  width:6cm;
  margin-bottom:2px;
}

.authentication {
  margin-top: 0px;
  // height:10px;
  font-size:6pt;
  margin-bottom: 15px;
}

.metaRating {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-items:left;
  height: 5.5in;
  width: 3in;
  margin-top: 0;
  // padding-bottom: 10px;
  background-color: white;
  // border: 2px solid black;
  // border-radius:0.25cm;
  // margin-left: 5px
  margin-right: -10px;
  margin-left: 5px;
}

.side {
  float: left;
  width: 15%;
  margin-top:2px;
  margin-right: 2px;
}

.middle {
  margin-top:2px;
  float: left;
  width: 83%;

}

 .right {
  text-align: center;
  visibility:hidden;
 }

.starRow {
  margin-left:0px;
}

.bar-container {
  width: 90%;
  background-color: lightgray;
  text-align: center;
  color: black;
  margin-bottom: -7px;
}

.bar-5 { height: 18px; background-color: darkslategray}
.bar-4 { height: 18px; background-color: darkslategray}
.bar-2 { height: 18px; background-color: darkslategray}
.bar-3 { height: 18px; background-color: darkslategray}
.bar-1 { height: 18px; background-color: darkslategray}

.sliderLabels {

  // font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  width: 90%;
  line-height: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -5px;
}

.slider {
  width: 90%;

}

.slideLabel {
  margin-top: 10px;
  font-size: 14px;
  font-family: Helvetica;
  font-weight: bold;
}

.slideContainer {
  margin-top: 5px;
  margin-left: 0px;

}

.averageRating  {
  align-self:left;
  font-size: 25px;
  margin-bottom: -3px;
  padding-top: 0px;
  margin-left: 0px
}

.percentRecommend  {
  margin-top:8px;
  align-self:left;
  margin-left: 0px;
  margin-bottom: 5px;
  font-size: 14px;
  font-style:italic;
  color:darkslategray;
}

.numberReviews {
  font-weight: bold;
  margin-top: 10px;
  margin-left: 5px;
}


.ratingsReviewsContainer {
  display:flex;
  flex-direction: row;
}


.button-showMore  {
  margin-right: 10px;
}

select {
  margin-left: 5px;
}

.buttonContainer {
  display:flex;
  flex-direction: row;
  margin: auto
}


input[type='range'] {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: lightgrey;
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  background: darkslategray;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;// margin-bottom: -15px
}

.helpful {
  display:flex;
  flex-direction: row;
  align-content:flex-start;
  font-size: small;
  margin-top:-8px;
  margin-bottom:-8px;
}

.helpword {
  margin-right: 3px;
}

.yes {
  margin-right: 3px;
}

.recommend {
  font-size:15px;
}

.sortedBy {
  font-weight: bold;
}

.rrtitle {
  font-size:20px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.radioOne {
  display:flex;
  flex-direction:row;
  margin-inline: 10px;
}

.radioTwo {
  display:flex;
  flex-direction:row;
  margin-inline: 10px;
}

//modal star rating - this is boilerplate from compass/css3

$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: rgb(46, 42, 40);
.star-cb-group {
  /* remove inline-block whitespace */
  font-size:x-large;
  * {
    font-size: 1rem;
  }
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  & > input {
    display: none;
    & + label {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      white-space: nowrap;
      cursor: pointer;
      &:before {
        display: inline-block;
        text-indent: -9999px;
        content: $unchecked-star;
        color: $unchecked-color;
      }
    }
    &:checked ~ label:before,
      & + label:hover ~ label:before,
      & + label:hover:before {
      content: $checked-star;
      color: rgb(46, 42, 40);;
      text-shadow: 0 0 1px #333;
    }
  }

}


//radio color
input[type='radio']:checked:after {
  width: 13px;
  height: 13px;
  border-radius: 14px;
  // top: -2px;
  // left: -1px;
  position: relative;
  background-color: darkslategray;
  content: '';
  display: inline-block;
  visibility: visible;
  // border: 0px solid darkslategrey;
}

.ComfortContainer {
  margin-left: -5px;
  margin-right: 30px;
}

.SizeContainer {
  margin-left: -5px;
  margin-right: 30px;
}


.titleComfort {
 justify-content: center;
 align-self: center;
 align-items:center;
 text-align: center;
}

.titleQuality {
  text-align: center;
}

.titleSize {
  text-align: center;
}
.titleWidth {
  text-align: center;
}

.buttonHolder {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.subRevButton {
  margin-right: 15px;
}

.write-review-Modal {
  margin-bottom:0px;
}