.productDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 33%;
  padding-left: 75px;
}

.pdProductInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 100px;
  max-width: 50%
}

.styleCarosel {
  display: flex;
  padding: 50px;
  margin-left: 50px;
  height: 600px;
  max-width: 50%
}
#pdarrows {
  font-size: 50px;
  color: #959596;
  margin: auto;
}
.imagesAndArrows {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.imgAndThumbs {
  position: relative;
  display: flex;
  max-width: 500px;
}
.caroselImgs {
  max-width: 400px;
  margin: auto;
}

.caroselThumbs {
  max-width: 15%;
  top: 0;
  left: 0;
}

.thumbs {
  max-height: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  float: left;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.stylesParent {
  display: flex;
  flex-wrap: wrap;
}

.stylesselect {
  flex: 1 0 21%;
  border-radius: 50px;
  justify-content: space-between;

}

.productInfo {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.shareIcon {
  padding-left: 10px;
  max-width: 20px;
  max-height: 20px;
}

.pt {
  color: #c8232c;
}
.tw {
  color: #1da1f2;
}
.fb {
  color: #4267b2;
}

.feat {
  list-style-type: none;
}

.cropSelectImg {
  max-width: 30%;
  max-height: 30%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.style {
  max-width: 40px;
  max-height: 40px;
  border-style: solid;
  border-color: #232323;
  border-width: 1px;
  border-radius: 50%;
  display: inline-block;
}

.cartDetails {
  padding: 5px;
}
.sizeBtn {
  border: black;
  padding: 5px;
  border-style: solid;
}

.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.cartDetails {
  margin: 5px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.salePrice {
  color: red;
}