.productDetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-height: 33%;
  padding-left: 75px;
}

.pdProductInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 100px;
}

.styleCarosel {
  display: flex;
  height: 600px;
  max-width: 50%;
  padding-right: 20px;
}
#pdarrows {
  font-size: 50px;
  color: #959596;
  margin: auto;
}

.imagesAndArrows {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.imgAndThumbs {
  position: relative;
  display: flex;
  max-width: 500px;
}
.caroselImgs {
  max-width: 400px;
  margin: auto;
}

.caroselThumbs {
  max-width: 15%;
  top: 0;
  left: 0;
}

.pdthumbs {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  float: left;
  width: 50px;
  height: 50px;
  object-fit: cover;
  padding: 5px;
}

.thumbs {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  float: left;
  width: 50px;
  height: 50px;
  object-fit: cover;
  padding: 5px;
  flex: 1 0 21%;
}

.downarrowthumbs {
  color: #3e3e3e;
  width: 50px;
  height: 50px;
  margin: auto;
}

.stylePrice {
  padding: 5px;
  height: 50px;
}

.stylesParent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.stylesselect {
  flex: 1 0 21%;
  border-radius: 50px;
  justify-content: space-between;

}
.checkMarkpd {
  position:absolute;
}

.allselectedsty {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.pdcategory {
  text-transform: uppercase;
  font-size: 12px;
  color: gray;
  line-height: 0.2;
  padding-bottom: 10px;
}

.productName {
  font-size: 25px;
  padding-bottom: 10px;
}

.shareBtns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#shareandbuy{
  display: flex;
  flex-direction: column;
}

#carandstar {
  padding: 5px;
}

.shareIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 40px;
}
.feat {
  padding: 10px;
}

.cartIcon, .pdstar {
  font-size: 40px;
  padding-right: 20px;
}
.pt {
  color: #c8232c;
}
.tw {
  color: #1da1f2;
}
.fb {
  color: #4267b2;
}

.feat {
  list-style-type: none;
}

.cropSelectImg {
  max-width: 30%;
  max-height: 30%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.style {
  max-width: 40px;
  max-height: 40px;
  border-style: solid;
  border-color: #232323;
  border-width: 1px;
  border-radius: 50%;
  display: inline-block;
}

.cartDetails {
  padding: 5px;
  border-bottom: solid;
  border-top: solid;
  border-color: #675b3e;
  border-width: 1px;
  margin: 10px;
}
.sizeBtn {
  padding: 5px;
}

.dropbtn {
  background-color: #3e3e3e;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.salePrice {
  color: red;
}

.pdStars{
  padding: 0 0 20px 0;
}