img {
  margin: auto;
  max-width:75%;
  max-height:100%;
}

.productDetail .imageGallery .carosel{
  width: 400px;
  height: 400px;
}

.carosel{
  padding: 20px;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}